<div class="container">
    <div class="row">
    	<div class="col-xs-10 col-xs-offset-2">
    		<h1><strong>パーティー登録</strong></h1>

    		<%= form_for(@party, url: parties_path) do |f| %>
    			<div class="form-group">
    				<label class="col-xs-3">性別</label>
    				<% if current_user.is_gender == true %>
    					<p>女性</p>
    				<% else %>
    					<p>男性</p>
    				<% end %>
    			</div>
    			<div class="form-group">
    				<%= f.label :"場所" ,class: "col-xs-3"%>
    				<%= f.text_field :place ,placeholder:"場所"%>
    			</div>
    			<div class="form-group">
    				<%= f.label :"年齢" ,class: "col-xs-3"%>
    				<%= f.text_field :age ,placeholder:"年齢"%>
    			</div>
    			<div class="form-group">
    				<%= f.label :"人数" ,class: "col-xs-3"%>
    				<%= f.text_field :people_count ,placeholder:"人数"%>
    			</div>
    			<div class="form-group">
    				<%= f.label :"詳細文" ,class: "col-xs-3"%>
    				<%= f.text_area :introduction ,placeholder:"詳細文"%>
    			</div>
    			<%= f.submit "登録する",class:"btn btn-info"%>
    		<% end %>
    	</div>
    </div>
</div>